$borderWidth2: $border-width *3 ;
$initial-color: $gray-500;
$focus-color: $primary;
$error-color: $danger;
$success-color: $success;
$input-background: transparent; 
$icon-padding-y : calc(#{$input-btn-padding-x-lg} + #{$input-btn-padding-y}) / 2 ;


.vary-button{
    padding: auto 1.5rem;  
    border: none;
    outline: none;
    background-color: inherit;
    border: $borderWidth2 solid $initial-color;

    &:focus{
        outline:none;
    }

    &.infocus{
        // box-shadow: 0 1rem 2rem rgba(black, 0.1);
        border: $borderWidth2 solid $focus-color;
        
    }
    &.error{
        border: $borderWidth2 solid $error-color;
        
    }
    &.success{
        border: $borderWidth2 solid $success-color;
        
    }

    &.disabled  svg {
        fill: transparent;
        opacity:0;
        visibility:hidden;
    }

    &.leftButton{
        border-right: none;
        border-radius: 50rem 0% 0% 50rem;
    }

    &.rightButton{
        border-left: none;
        border-radius: 0% 50rem 50rem 0%;
    }
}

%padding-shared{
    padding: $input-btn-padding-x-lg $input-btn-padding-x $input-btn-padding-y $input-btn-padding-x-sm;
}
%fontsizes{
    font-family: inherit;
    font-size: $font-size-lg;
}


.form-input{
    @extend %fontsizes;
    @extend %padding-shared;
    text-align: center;
}
.animated-inputlabel{
    position: relative;
}
.form-label{
    @extend %fontsizes;
    @extend %padding-shared;
    margin-top: $input-btn-padding-x-lg - $input-btn-padding-y;
    padding-top: $input-btn-padding-y;
}
.animated-input{
    width: 100%;
    margin: 0;
    background-color: $input-background;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    border-bottom: $borderWidth2 solid $initial-color;
    border-top: $borderWidth2 solid $initial-color;
    &:focus{
        // box-shadow: 0 1rem 2rem rgba(black, 0.1);
        border-bottom: $borderWidth2 solid $focus-color;
        border-top: $borderWidth2 solid $focus-color;
    }
    &.error{
        border-bottom: $borderWidth2 solid $error-color;
        border-top: $borderWidth2 solid $error-color;
    }
    &.success{
        border-bottom: $borderWidth2 solid $success-color;
        border-top: $borderWidth2 solid $success-color;
    }
}
.animated-label{
    @include absCenter;
    background-color: transparent;
    color: $initial-color;
    transition: all 0.3s;

    &.transformed{
        top: -20%;
        background-color: white;
        border: $borderWidth2 solid $primary;
        border-radius: 10%;
        padding: 0.1rem 0.3rem;
        font-size: $font-size-sm; 
        font-weight: bold;
    }

    &.infocus{
        color: $focus-color;   
        border-color: $focus-color;   
    }
    &.error{
        color: $error-color; 
        border-color: $error-color;  
    }
    &.success{
        color: $success-color; 
        border-color: $success-color;  
    }
}
.diagnose-field{
    @extend %padding-shared;
    padding-top: 0.2rem; 
    opacity: 0;
    visibility: hidden;
    font-size: $font-size-sm;
    transition: $transition-base;

    &--warning{
        color: $warning;
    }
    &--error{
        color: $error-color;
    }
    &.active{
        opacity: 1;
        visibility: visible;
    }
}