.button{
  background-color: $blue; 
  color: white;
  border: none;
  border-radius: .3rem;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size $m-size;
  display: inline-block;
  text-decoration: none;
  line-height: 1;

  &--no-bg{
    background-color: inherit;
  }

  &--secondary{
    background: #888;
  }
}