%padding-shared{
    padding: $xs-size $l-size;
    // padding: 0.1em 2em;
}

%fontsizes{
    font-family: inherit;
    font-size: 2.8rem;
}

.form-input{
    @extend %fontsizes;
    @extend %padding-shared;
}

input.animated-input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(black, 0.1);
    border-bottom: 0.3rem solid $primary;
}

input.animated-input.error:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(black, 0.1);
    border-bottom: 0.3rem solid $danger;
}

.form-label{
    @extend %fontsizes;
    @extend %padding-shared;
}


.animated-input{
    width: 100%;
    margin: 0;
    border: 1px solid  black;
    background-color: rgba(black, 0.1);
    border: none;
    transition: all 0.3s ease;
    border-bottom: 0.3rem solid transparent;


}

.animated-label{
    @include yAbsCenter;
    background-color: transparent;
    margin: 0;
    transition: all 0.3s;
    border-radius: 50rem;
}


.animated-inputlabel{
    position: relative;
}

.animated-inputlabel  label.infocus {
    transform: translateY(-150%);
    border: .2rem solid darken($primary, 10%);
    background-color: $primary;
    color: $white;
    font-size: 80%;

    &.error{
        border: .2rem solid darken($danger, 10%);
        background-color: $danger; 
    }
}