$borderWidth2: $border-width *2 ;
$initial-color: $gray-500;
$focus-color: $primary;
$error-color: $danger;
$success-color: $success;
$input-background: rgba(black, 0.1);

%padding-shared{
    padding: $input-btn-padding-x-lg $input-btn-padding-x $input-btn-padding-y $input-btn-padding-x-sm;
    // padding: 0.1em 2em;
}

%fontsizes{
    font-family: inherit;
    font-size: $font-size-lg;
}

.form-input{
    @extend %fontsizes;
    @extend %padding-shared;
}

.animated-inputlabel{
    position: relative;
}


.form-label{
    @extend %fontsizes;
    @extend %padding-shared;
    margin-top: $input-btn-padding-x-lg - $input-btn-padding-y;
    padding-top: $input-btn-padding-y;
}


.animated-input{
    width: 100%;
    margin: 0;
    background-color: $input-background;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    border-bottom: $borderWidth2 solid $initial-color;

    &:focus{
        box-shadow: 0 1rem 2rem rgba(black, 0.1);
        border-bottom: $borderWidth2 solid $focus-color;
    }

    &.error{
        border-bottom: $borderWidth2 solid $error-color;
    }

    &.success{
        border-bottom: $borderWidth2 solid $success-color;
    }

}

.animated-label{
    @include yAbsCenter;
    background-color: transparent;
    color: $initial-color;
    transition: all 0.3s;

    &.transformed{
        transform: translateY(-135%);
        font-size: $font-size-sm;
    }

    &.infocus{
        color: $focus-color;   
    }
    &.error{
        color: $error-color; 
    }
    &.success{
        color: $success-color; 
    }
}

.diagnose-field{
    @extend %padding-shared;
    opacity: 0;
    visibility: hidden;
    font-size: $font-size-sm;

    &--warning{
        color: $warning;
    }
    &--error{
        color: $error-color;
    }

    &.active{
        opacity: 1;
        visibility: visible;
    }
}