.header{
  background-color: $dark-blue;


  &__title{
    text-decoration: none;
    color: white;

    h1{
      margin: 0;
    }
  }

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
  }
}