.svgicon{
    width: 2.5rem;
    height: 2.5rem;
    fill: currentColor;
    transition: all .3s ease;

    opacity: 1;
    visibility: visible;
    &.invisible{
        opacity: 0;
        visibility: hidden;
    }


    

    &--primary{
        fill: $primary;
    }
    &--secondary{
        fill: $secondary;
    }
    &--light{
        fill: $light;
    }
    &--dark{
        fill: $dark;
    }
    &--info{
        fill: $info;
    }
    &--warning{
        fill: $warning;
    }
    &--success{
        fill: $success;
    }
    &--danger{
        fill: $danger;
    }
}